includes:
    - vendor/rollerscapes/standards/phpstan.neon
    - phpstan-baseline.neon

parameters:
    #reportUnmatchedIgnoredErrors: false
    level: 5

    paths:
        - ./src
        - ./tests
    excludePaths:
        - src/Resources

    #ignoreErrors:
